fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
scipy
httpx
python-dotenv
pydantic[email]
pydantic-settings
aiohttp
sentence-transformers
gunicorn
sqlalchemy[asyncio]
asyncpg
pgvector
redis
transformers
Pillow
torch
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pytest
pytest-asyncio
